.tapis {
  width: 900px; /* Ajustez la taille selon vos préférences */
  height: auto;
}

.domino {
  width: 50px; /* Ajustez la taille selon vos préférences */
  height: auto;
  margin: 5px; /* Espace autour des dominos */
  position: relative; /* Assurez-vous que les dominos restent au premier plan */
  z-index: 2;
}

/* Positionnement des joueurs */
.conteneur-image {
  position: relative;
}

.conteneur-image .dominos {
  position: absolute;
  top: 300px;
  left: 25%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrage horizontal des éléments flex */
  align-items: center; /* Centrage vertical des éléments flex */
  max-width: 800px;
}

/* Style pour les joueurs */
.joueur {
  position: absolute;
  color: white; /* ou toute autre couleur qui contraste avec votre image */
  font-size: 1em; /* Ajustez la taille du texte si nécessaire */
  z-index: 10; /* Assurez-vous que le texte apparaît au-dessus de l'image */
}

/* Position spécifique pour chaque joueur */
.john {
  top: -150px; /* Ajustez cette valeur pour déplacer le texte vers le bas */
  left: -20px; /* Ajustez cette valeur pour déplacer le texte vers la gauche */

  width: 30px;
}

.john1 {
  top: -180px; /* Ajustez cette valeur pour déplacer le texte vers le bas */
  left: -20px; /* Ajustez cette valeur pour déplacer le texte vers la gauche */
  position: absolute;
  width: 30px;
}

.ruben {
  top: -150px; /* Ajustez cette valeur pour déplacer le texte vers le bas */
  left: 800px;
  right: 50px; /* Ajustez cette valeur pour déplacer le texte vers la droite */
  position: absolute;
  width: 30px;
}

.ruben1 {
  top: -180px; /* Ajustez cette valeur pour déplacer le texte vers le bas */
  left: 800px;
  right: 50px; /* Ajustez cette valeur pour déplacer le texte vers la droite */
  position: absolute;
  width: 30px;
}

.daisy {
  top: 250px; /* Ajustez cette valeur pour déplacer le texte vers le haut */
  left: -20px; /* Ajustez cette valeur pour déplacer le texte vers la gauche */
  position: absolute;
  width: 30px;
}

.daisy1 {
  top: 220px; /* Ajustez cette valeur pour déplacer le texte vers le haut */
  left: -20px; /* Ajustez cette valeur pour déplacer le texte vers la gauche */
  position: absolute;
  width: 30px;
}
.berta {
  top: 250px; /* Ajustez cette valeur pour déplacer le texte vers le haut */
  left: 800px;
  right: 0px; /* Ajustez cette valeur pour déplacer le texte vers la droite */
  position: absolute;
  width: 30px;
}

.berta1 {
  top: 220px; /* Ajustez cette valeur pour déplacer le texte vers le haut */
  left: 800px;
  right: 50px; /* Ajustez cette valeur pour déplacer le texte vers la droite */
  position: absolute;
  width: 30px;
}

@media screen and (max-width: 600px) {
  .joueur {
    font-size: 0.8em; /* Texte plus petit sur les petits écrans */
  }
  /* Autres ajustements pour les petits écrans */
}

.exemple {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); /* Pour Safari et Chrome */
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); /* Pour Firefox */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); /* Standard */
}
